body{
  margin: 0;
  background-color: black;
}

h1 {
  color: #05377b;
  text-decoration: underline;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 2px;
  
}

h3.planet {
  color: #05377b;
  font-size: 2em;
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 1px;
}

img.planet{
  float: left;
  margin: 0px;
  padding: 0px;
}

th{
  color: #042c62;
  text-decoration: underline;
  font-size: 1.5em;
  font-weight: bold;
}

td{
	// Todo, this is for the data of planets
}

div#backdrop{
	// Todo, here for the background
}