@import url('https://fonts.googleapis.com/css?family=Patua One');

body{
  margin: 0;
  background-color: #010b19;
  font-family: 'Patua One';
}

h1 {
  color: #05377b;
  text-decoration: underline;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 2px;
  
}

h3.planet {
  color: #05377b;
  font-size: 2em;
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 1px;
}

img.planet{
  float: left;
  margin: 0px;
  padding: 0px;
}

th{
  text-decoration: underline;
  font-size: 1.5em;
  font-weight: bold;
}

td{
  font-size: 1em;
  font-weight: normal;
}

.jupTable{
	margin: 0px;
	padding: 0px;
	float: left;
	background-color: #FDC358;
	color = #FFFFFF;
	width = 40%;
}